.card {
    margin: 15px;
}
.searchList {
    height: 80vh;
    width: 15vw;
}
h1 {
    color: rgba(80, 151, 174);
}

.btn-success {
    color: green;
}

.btn-caution {
    color: yellow;
}

.btn-danger {
    color: red;
}
